.screen-blur {
    background-color: rgba(253, 253, 253, 0.658);
    height: 100%;
    width: 100%;
}

.popup-wrapper {
    height: 10rem;
    width: 10rem;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}