.login-section {
    margin-top: 6rem;
}

.register-section {
    margin-top: 15rem;
    display: flex;
    justify-content: center;
}

.title-center {
    display: flex;
    justify-content: center;
}

.title-wrapper {
    display: inline-block;
    line-height: 4.6rem;
}

.login-subtext {
    color: white;
    text-align: right;
    margin-right: .8rem;
}

.login-title {
    display: flex;
    margin-top: 5rem;
    font-size: 10rem;
    text-align: center;
}

.B {
    color: rgb(255, 0, 0);
    text-shadow: -2px 2px 4px #000000;
}

.A {
    color: rgb(255, 94, 0);
    text-shadow: -2px 2px 4px #000000;
}

.S {
    color: rgb(255, 208, 0);
    text-shadow: -2px 2px 4px #000000;
}

.H {
    color: rgb(60, 255, 0);
    text-shadow: -2px 2px 4px #000000;
}

.form-wrapper {
    display: flex;
    justify-content: center;
}

.form--login {
    border-radius: 2%;
    width: 25rem;
    background-color: rgba(0, 0, 0, 0.479);
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.link--register {
    text-align: center;
}

.link {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.link:hover {
    color: goldenrod;
}

.fieldset {
    border: 0;
}